<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<html>
  <div style="font-family: 'Open Sans', sans-serif;">
    <div style="text-align: center; display: block;">
      <img height="80" alt="GymPoint" src="https://raw.githubusercontent.com/lcelso/gympoint/master/backend/src/app/views/emails/logo.png" />
    </div><br/><br/><br/>
    {{{ body }}}
    {{> footer }}
  </div>
</html>
