<p>Olá, <strong>{{ student }}</strong></p>
<p>Seu pergunta: <strong><i>{{ question }}</i></strong></p>
<br />
<p>Foi enviada e em breve responderemos</p>
<br />
<p><small>Qualquer dúvida estamos aqui.</small></p>
