<p>Olá, <strong>{{ student }}</strong></p>
<p>Seu pergunta: <strong><i>{{ question }}</i></strong></p>
<p>Resposta: <strong><i>{{ answer }}</i></strong</p>
<br />
<p><small>Qualquer dúvida estamos aqui.</small></p>
